<a href="https://colab.research.google.com/github/ShieldEdu/midterm24/blob/main/Midterm-practice%20file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lesson4 types of data
number=input()
x=4
print(x*number)

3
3333

In [ ]:
x="Hello, everyone welcome!"
print(x*3)

Hello, everyone welcome!Hello, everyone welcome!Hello, everyone welcome!

In [ ]:
age=input()
print(age*2)

20
2020

In [ ]:
age=input()
age=int(age)
print(age+3)

20
23

In [ ]:
mathanswer=input()
mathanswer=float(mathanswer)
print(mathanswer+3)

0.3
3.3

In [ ]:
mathanswer=input()
mathanswer=float(mathanswer)
print(mathanswer+3)

3
6.0

# New Section

In [ ]:
number1=27
number2=35
sum=number1+number2
print(sum)

62

In [ ]:
number=input()
x=4
print(x*number)

3
3333

In [ ]:
# Question 1: Addition

In [ ]:
# Step 1: Define two variables, `number1` and `number2`, and assign them values of 27 and 35.
number1 = 27
number2 = 35

# Step 2: Calculate the sum of these two numbers and store the result in a variable called `sum`.
sum = number1 + number2

# Step 3: Print the result using the print function.
print(sum)

62

In [ ]:
number1 = 27
number2 = 35
sum = number1 + number2
print(sum)

62

In [ ]:
#**3.1 Text vs. Code cells

##Texts and code

```
# This is formatted as code
```

In [ ]:
def add_numbers(num1, num2)
result = num1+num2
return result

SyntaxError: expected ':' (<ipython-input-10-d5a71adae29e>, line 1)

In [ ]:
add_numbers(17,35
            )

NameError: name 'add_numbers' is not defined

In [ ]:
def add_numbers(number1, number2):
    result = number1+number2
    return result

In [ ]:
add_numbers(17, 30
          )

47